html {
    background: #A4D2E5;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 1000px;
}

header {
    background: #1FFFFF;
    padding: 20px;
}

.callout {
    border: 2px inset;
    padding: 10px;
    width: 125px;
}

.callout--first {
    float: left;
}

.callout--second {
    float: right;
}

/* .callout--first and .callout--second: block element modifier syntax */

h1 {
    text-align: center;
}

aside {
    background: #FE9D00;
    float: left;
    width: 200px;
}

section {
    background: #FFF;
    width: 600px;
    float: left;
}