$navy: #002344;
$teal: #005275;
$skyblue: #77A2B5;

/* placeholder rule */
%image-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

header {
  background: $teal;

  h1 {
    @extend %image-replace;
    background: image-url('logo.png') no-repeat;
    height: image-height('logo.png');
    width: image-width('logo.png');
  }
}

nav {
  background: $navy;
}

footer {
  background: $navy;

  h2 {
    @extend %image-replace;
  }
}