---
title: Welcome to Middleman
---

<div class="welcome">
  <form action="submit" method="post">
    <div class="form-group">
      <label for="first_name_lulu">First Name</label>
      <input type="text" name="first_name" class="form-control" id="first_name_lulu">
    </div>
    <div class="form-group">
      <label for="life_story_lulu">Life Story</label>
      <textarea name="life_story" class="form-control" id="life_story_lulu"></textarea>
    </div>
    <button type="submit">Click me to submit</button>
    <input type="submit" value="Click me to submit">
    <input type="reset">
  </form>
</div><!-- .welcome -->