* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 50px;
}

h1 {
    text-align: center;
}

.reopening {
    background: red;
    color: yellow;
    position: absolute;
    left: 100px;
    top: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    height: 600px;
    position: relative;
}

li {
    border: 3px solid black;
    height: 300px;
    width: 480px;
    position: absolute;
}

li h2, li img, li .price {
    position: absolute;
}

li h2 {
    margin: 0;
    z-index: 1;
}

.price {
    font-size: 3em;
    color: red;
}

.cheese {
    top: 0;
    left: 0;
}

.cheese h2 {
    top: 20px;
    left: 20px;
}

.cheese img {
    bottom: 0;
    left: 0;
}

.cheese .price {
    top: 0;
    right: 0;
}

.chicken {
    top: 0;
    right: 0;
}

.chicken h2 {
    bottom: 20px;
    right: 20px;
}

.fruit {
    bottom: 0;
    left: 0;
}

.bread {
    bottom: 0;
    right: 0;
}